@{
    ViewBag.Title = "Home Page";
}

<section>
    <div id="carousel-example-generic" class="carousel carousel-mind slide" data-ride="carousel" data-interval="5000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig">Committed to customer satisfaction!</h1>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft"><i class="fa fa-plus"></i><span>24 hour Support</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-plus"></i><span>Quality Parts & Service</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-plus"></i><span>Customers come first!</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="~/Content/Themes/Images/happyfam.jpg" class="img-responsive animated bounceInUp" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig">Check your alarm status from anywhere</h1>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft"><i class="fa fa-plus"></i><span>Enable/Disable alarm</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-plus"></i><span>Check & monitor alarm</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-plus"></i><span>Trigger Events from phone</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="~/Content/Themes/Images/mobile_cell.jpg" class="img-responsive animated bounceInUp" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-sm-9">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig">Monthly monitoring from $24.99</h1>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft"><i class="fa fa-plus"></i><span>Switch to us free!</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-plus"></i><span>Includes fire</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-plus"></i><span>24 hour monitoring support</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="~/Content/Themes/Images/monitoring.jpg" class="img-responsive animated bounceInUp" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section> <!-- carousel -->

<section id="mind-features">
    <div class="container visible-xs">
        <div class="panel panel-primary">
            <div class="panel-heading">Home Automation</div>
            <div class="panel-body">
                We offer home automation solutions that will help simplify your everyday needs.
                We can take your very cumbersome old system and replace it with one reliable, intuitive deviece.
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Monitoring</div>
            <div class="panel-body">
                Our monitoring service is Candian based. Offers 24 hour support and includes fire, flood and security. 
                A good reliable monitoring service gives you the piece of mind you've been looking for.
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Surveillance</div>
            <div class="panel-body">
                We off a wide range of surveillance systems to suit your needs. We will make sure you have remote access from any mobile platform.
                With camers in and around your home you can monitor activities from home or anywhere around the world.
                You can be alerted via email or text for event you require notification.
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Networking</div>
            <div class="panel-body">
                Centrally located in a secure panel. A good network is like the nervous system of yuour home.
                It will halp help lay a solid foundation for today and tomorrw.
            </div>
        </div>
    </div>
    <div class="container hidden-xs">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                    <div class="item-icon">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="item-content">
                        <h3>Home Automation</h3>
                        <p>We offer home automation solutions that will help simplify your everyday needs.
                        We can take your very cumbersome old system and replace it with one reliable, intuitive deviece.</p>
                        @*<a href="#" class="btn btn-success pull-right">Read more</a>*@
                    </div>
                </article> <!-- mind-features-item -->
            </div>
            <div class="col-md-3 col-sm-6">
                <article class="mind-features-item hover animated bounceInLeft animation-delay-3">
                    <div class="item-icon">
                        <i class="fa fa-warning"></i>
                    </div>
                    <div class="item-content">
                        <h3>Monitoring</h3>
                        <p>Our monitoring service is Candian based. Offers 24 hour support and includes fire, flood and security. A good reliable monitoring service gives you the piece of mind you've been looking for.</p>
                        @*<a href="#" class="btn btn-success pull-right">Read more</a>*@
                    </div>
                </article> <!-- mind-features-item -->
            </div>
            <div class="col-md-3 col-sm-6">
                <article class="mind-features-item hover animated bounceInRight animation-delay-6">
                    <div class="item-icon">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="item-content">
                        <h3>Surveillance</h3>
                        <p>We off a wide range of surveillance systems to suit your needs. We will make sure you have remote access from any mobile platform.
                        With camers in and around your home you can monitor activities from home or anywhere around the world.
                        You can be alerted via email or text for event you require notification.</p>
                        @*<a href="#" class="btn btn-success pull-right">Read more</a>*@
                    </div>
                </article> <!-- mind-features-item -->
            </div>
            <div class="col-md-3 col-sm-6">
                <article class="mind-features-item hover animated bounceInRight animation-delay-10">
                    <div class="item-icon">
                        <i class="fa fa-tachometer"></i>
                    </div>
                    <div class="item-content">
                        <h3>Networking</h3>
                        <p>Centrally located in a secure panel. A good network is like the nervous system of yuour home.
                        It will halp help lay a solid foundation for today and tomorrw.</p>
                        @*<a href="#" class="btn btn-success pull-right">Read more</a>*@
                    </div>
                </article> <!-- mind-features-item -->
            </div>
        </div>
    </div>
</section>


