
@{
    ViewBag.Title = "ComingSoon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-5">
            <section class="coming-logo">
                <h1><i class="fa fa-refresh fa-spin"></i>Open <span>Mind</span></h1>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti  labore labore id dolor occaecat culpa id in sed ullamco exercitation dolore proident pariatur ullamco id esse.</p>
            </section>
        </div>
        <div class="col-md-5 col-md-pull-6">
            <section class="coming-info">
                <h2>Coming Soon</h2>
                <p>Lorem ipsum Sint fugiat exercitation dolore proident pariatur ullamco id esse esse ullamco consectetur consectetur nulla nostrud exercitation esse tempor in commodo aliqua non labore labore id dolor occaecat culpa id in sed ullamco.</p>
                <p>Lorem ipsum Sint fugiat exercitation dolore proident pariatur ullamco id esse esse ullamco consectetur consectetur nulla nostrud exercitation esse tempor in commodo aliqua non labore labore id dolor occaecat culpa id in sed ullamco.</p>
                <div class="input-group coming-subs">
                    <input type="text" class="form-control" placeholder="Email Adress">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </span>
                </div><!-- /input-group -->
            </section>
        </div>
    </div>
    <section class="coming-footer">
        <div class="row">
            <div class="col-sm-5">
                <div class="coming-social">
                    <a href="#" class="i-rss"><i class="fa fa-rss"></i></a>
                    <a href="#" class="i-google"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="i-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="i-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="i-pinterest"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="i-pinterest"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="i-pinterest"><i class="fa fa-github"></i></a>
                    <a href="#" class="i-linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="coming-copy">
                    <p>&copy; 2013 Open Mind, Inc. Web development experts</p>
                </div>
            </div>
        </div>
    </section>
</div>

