
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Contact Us</h2>
</div>
<div class="container">
    <blockquote>
        <p>
            For more information about our company or about the services we can provide you.<br />
            Just call us!
        </p>
    </blockquote>
</div><!--test-->

<div class="container">
    <address>
        Demers Solutions<br />
        Langley, BC<br />
        <abbr title="Phone">Cell Phone:</abbr>
        604.831.3032<br />
        <abbr title="Fax">Fax:</abbr>
        604.532.8695<br />
        <abbr title="Phone">Monitoring Support:</abbr>
        800.532.8695<br />
    </address>

    <address>
        <strong>Sales/Support:</strong>   <a href="mailto:DemersSolutions@telus.net">DemersSolutions@telus.net</a><br />
    </address>
</div>
<div style="height:320px;"></div>
