
@{
    ViewBag.Title = "AdditionalComponents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">Additional Components</h1>

        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li><a href="#">UI Elements</a></li>
            <li class="active">Additional Components</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <nav id="sidebar-menu">
                <ul class="nav nav-pills nav-stacked affix menu animated fadeIn" data-spy="affix" data-offset-top="200" data-offset-top="200" data-offset-bottom="450">
                    <li><a href="#feature" class="smooth">Feature Box</a></li>
                    <li><a href="#content-box" class="smooth"><span class="badge pull-right">New</span> Content Box</a></li>
                    <li><a href="#icon-box" class="smooth"><span class="badge pull-right">New</span> Icon Box</a></li>
                    <li><a href="#caption" class="smooth">Caption</a></li>
                    <li><a href="#light-box" class="smooth">Lightbox</a></li>
                    <li><a href="#slide" class="smooth"><span class="badge pull-right">New</span> Slide Images</a></li>
                </ul>
            </nav>
        </div> <!-- col -->

        <div class="col-md-9 col-sm-8">
            <section id="components">

                <article class="component-element" id="feature">
                    <h2 class="underline-title no-margin-top">Feature Box</h2>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#example-feature" data-toggle="tab">Example</a></li>
                        <li><a href="#html-feature" data-toggle="tab">HTML</a></li>
                        <li><a href="#wordpress-feature" data-toggle="tab">Wordpress</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="example-feature">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mind-features-item hover">
                                        <div class="item-icon">
                                            <i class="fa fa-dropbox"></i>
                                        </div>
                                        <div class="item-content">
                                            <h3>Lorem ipsum mollit sunt.</h3>
                                            <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                                            <a href="#" class="btn btn-success pull-right">Read more</a>
                                        </div>
                                    </div> <!-- mind-features-item -->
                                </div>
                                <div class="col-md-4">
                                    <div class="mind-features-item hover">
                                        <div class="item-icon">
                                            <i class="fa fa-html5"></i>
                                        </div>
                                        <div class="item-content">
                                            <h3>Lorem ipsum mollit sunt.</h3>
                                            <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                                            <a href="#" class="btn btn-success pull-right">Read more</a>
                                        </div>
                                    </div> <!-- mind-features-item -->
                                </div>
                                <div class="col-md-4">
                                    <div class="mind-features-item hover">
                                        <div class="item-icon">
                                            <i class="fa fa-group"></i>
                                        </div>
                                        <div class="item-content">
                                            <h3>Lorem ipsum mollit sunt.</h3>
                                            <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                                            <a href="#" class="btn btn-success pull-right">Read more</a>
                                        </div>
                                    </div> <!-- mind-features-item -->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="html-feature">
                            <pre class="brush: xml">
<div class="mind-features-item hover">
                            <div class="item-icon">
                            <i class="fa fa-group"></i>
    </div>
                            <div class="item-content">
                            <h3>Lorem ipsum mollit sunt.</h3>
                            <p>...</p>
                            <a href="#" class="btn btn-success pull-right">Read more</a>
    </div>
</div> <!-- mind-features-item -->
                                    </pre>
                        </div>
                        <div class="tab-pane" id="wordpress-feature">
                            <h3>Coming soon</h3>
                            <p>Next Version!</p>
                        </div>
                    </div>
                </article>

                <article class="component-element" id="content-box">
                    <h2 class="underline-title no-margin-top">Content Box</h2>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#example-content-box" data-toggle="tab">Example</a></li>
                        <li><a href="#html-content-box" data-toggle="tab">HTML</a></li>
                        <li><a href="#wordpress-content-box" data-toggle="tab">Wordpress</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="example-content-box">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="mind-box mind-box-primary">
                                        <h4 class="mind-box-title">The Feature Title</h4>
                                        <i class="fa fa-cloud-download"></i>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit Possimus.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="mind-box mind-box-success">
                                        <h4 class="mind-box-title">The Feature Title</h4>
                                        <i class="fa fa-coffee"></i>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit Possimus.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="mind-box mind-box-info">
                                        <h4 class="mind-box-title">The Feature Title</h4>
                                        <i class="fa fa-comments"></i>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit Possimus.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="mind-box mind-box-warning">
                                        <h4 class="mind-box-title">The Feature Title</h4>
                                        <i class="fa fa-desktop"></i>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit Possimus.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="mind-box mind-box-danger">
                                        <h4 class="mind-box-title">The Feature Title</h4>
                                        <i class="fa fa-inbox"></i>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit Possimus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="html-content-box">
                            <pre class="brush: xml">
<div class="mind-box mind-box-primary">
                            <h4 class="mind-box-title">The Feature Title</h4>
                            <i class="fa fa-cloud-download"></i>
                            <p>...</p>
</div>
<div class="mind-box mind-box-success">
                            <h4 class="mind-box-title">The Feature Title</h4>
                            <i class="fa fa-cloud-download"></i>
                            <p>...</p>
</div>
<div class="mind-box mind-box-info">
                            <h4 class="mind-box-title">The Feature Title</h4>
                            <i class="fa fa-cloud-download"></i>
                            <p>...</p>
</div>
<div class="mind-box mind-box-warning">
                            <h4 class="mind-box-title">The Feature Title</h4>
                            <i class="fa fa-cloud-download"></i>
                            <p>...</p>
</div>
<div class="mind-box mind-box-danger">
                            <h4 class="mind-box-title">The Feature Title</h4>
                            <i class="fa fa-cloud-download"></i>
                            <p>...</p>
</div>
                                    </pre>
                        </div>
                        <div class="tab-pane" id="wordpress-content-box">
                            <h3>Coming soon</h3>
                            <p>Next Version!</p>
                        </div>
                    </div>
                </article>

                <article class="component-element" id="icon-box">
                    <h2 class="underline-title no-margin-top">Icon Box</h2>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#example-icon-box" data-toggle="tab">Example</a></li>
                        <li><a href="#html-icon-box" data-toggle="tab">HTML</a></li>
                        <li><a href="#wordpress-icon-box" data-toggle="tab">Wordpress</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="example-icon-box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="icon-box">
                                        <i class="fa fa-cloud-download"></i>
                                        <div class="icon-box-content">
                                            <h4>Lorem ipsum dolor sit</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="icon-box icon-box-inverse">
                                        <i class="fa fa-eye"></i>
                                        <div class="icon-box-content">
                                            <h4>Lorem ipsum dolor sit</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="icon-box icon-box-success">
                                        <i class="fa fa-shopping-cart"></i>
                                        <div class="icon-box-content">
                                            <h4>Lorem ipsum dolor sit</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="icon-box icon-box-info">
                                        <i class="fa fa-suitcase"></i>
                                        <div class="icon-box-content">
                                            <h4>Lorem ipsum dolor sit</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="icon-box icon-box-warning">
                                        <i class="fa fa-star"></i>
                                        <div class="icon-box-content">
                                            <h4>Lorem ipsum dolor sit</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="icon-box icon-box-danger">
                                        <i class="fa fa-trophy"></i>
                                        <div class="icon-box-content">
                                            <h4>Lorem ipsum dolor sit</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="html-icon-box">
                            <pre class="brush: xml">
<div class="icon-box">
                            <i class="fa fa-cloud-download"></i>
                            <div class="icon-box-content">
                            <h4>Lorem ipsum dolor sit</h4>
                            <p>...</p>
    </div>
</div>
<div class="icon-box icon-box-inverse">
                            <i class="fa fa-cloud-download"></i>
                            <div class="icon-box-content">
                            <h4>Lorem ipsum dolor sit</h4>
                            <p>...</p>
    </div>
</div>
<div class="icon-box icon-box-success">
                            <i class="fa fa-cloud-download"></i>
                            <div class="icon-box-content">
                            <h4>Lorem ipsum dolor sit</h4>
                            <p>...</p>
    </div>
</div>
<div class="icon-box icon-box-info">
                            <i class="fa fa-cloud-download"></i>
                            <div class="icon-box-content">
                            <h4>Lorem ipsum dolor sit</h4>
                            <p>...</p>
    </div>
</div>
<div class="icon-box icon-box-warning">
                            <i class="fa fa-cloud-download"></i>
                            <div class="icon-box-content">
                            <h4>Lorem ipsum dolor sit</h4>
                            <p>...</p>
    </div>
</div>
<div class="icon-box icon-box-danger">
                            <i class="fa fa-cloud-download"></i>
                            <div class="icon-box-content">
                            <h4>Lorem ipsum dolor sit</h4>
                            <p>...</p>
    </div>
</div>
                                    </pre>
                        </div>
                        <div class="tab-pane" id="wordpress-icon-box">
                            <h3>Coming soon</h3>
                            <p>Next Version!</p>
                        </div>
                    </div>
                </article>

                <article class="component-element" id="caption">
                    <h2 class="underline-title no-margin-top">Caption</h2>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#example-caption" data-toggle="tab">Example</a></li>
                        <li><a href="#html-caption" data-toggle="tab">HTML</a></li>
                        <li><a href="#wordpress-caption" data-toggle="tab">Wordpress</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="example-caption">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img-caption">
                                        <img src="js/holder.js/100%x200/sky" class="img-responsive" alt="Image">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                                <h4>Title Caption</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="img-caption">
                                        <img src="js/holder.js/100%x200/lava" class="img-responsive" alt="Image">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quas</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="img-caption">
                                        <img src="js/holder.js/100%x200/vine" class="img-responsive" alt="Image">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <h4>Title Caption</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, repellendus?</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="html-caption">
                            <pre class="brush: xml">
<div class="row">
                            <div class="col-md-4">
                            <div class="img-caption">
                            <img src="..." class="img-responsive" alt="Image">
                            <div class="caption">
                            <div class="caption-content">
                            <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Caption</h4>
                </div>
            </div>
        </div>
    </div>
                            <div class="col-md-4">
                            <div class="img-caption">
                            <img src="..." class="img-responsive" alt="Image">
                            <div class="caption">
                            <div class="caption-content">
                            <p>...</p>
                </div>
            </div>
        </div>
    </div>
                            <div class="col-md-4">
                            <div class="img-caption">
                            <img src="..." class="img-responsive" alt="Image">
                            <div class="caption">
                            <div class="caption-content">
                            <h4>Title Caption</h4>
                            <p>...</p>
                </div>
            </div>
        </div>
    </div>
</div>
                                    </pre>
                        </div>
                        <div class="tab-pane" id="wordpress-caption">
                            <h3>Coming soon</h3>
                            <p>Next Version!</p>
                        </div>
                    </div>
                </article>

                <article class="component-element" id="light-box">
                    <h2 class="underline-title no-margin-top">Lightbox</h2>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#example-lightbox" data-toggle="tab">Example</a></li>
                        <li><a href="#html-lightbox" data-toggle="tab">HTML</a></li>
                        <li><a href="#wordpress-lightbox" data-toggle="tab">Wordpress</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="example-lightbox">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="~/Content/Themes/Openmind/img/w1.jpg" class="thumbnail" data-lightbox="captions" title="Work Title">
                                        <img src="~/Content/Themes/Openmind/img/w1.jpg" class="img-responsive" alt="Image">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="~/Content/Themes/Openmind/img/w2.jpg" class="thumbnail" data-lightbox="captions" title="Work Title">
                                        <img src="~/Content/Themes/Openmind/img/w2.jpg" class="img-responsive" alt="Image">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="~/Content/Themes/Openmind/img/w3.jpg" class="thumbnail" data-lightbox="captions" title="Work Title">
                                        <img src="~/Content/Themes/Openmind/img/w3.jpg" class="img-responsive" alt="Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="html-lightbox">
                            <pre class="brush: xml">
<a href="~/Content/Themes/Openmind/img/w1.jpg" class="thumbnail" data-lightbox="captions" title="Work Title">
                            <img src="..." class="img-responsive" alt="Image">
</a>
                                    </pre>
                        </div>
                        <div class="tab-pane" id="wordpress-lightbox">
                            <h3>Coming soon</h3>
                            <p>Next Version!</p>
                        </div>
                    </div>
                </article>

                <article class="component-element" id="slide">
                    <h2 class="underline-title no-margin-top">Slide Images</h2>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#example-slide" data-toggle="tab">Example</a></li>
                        <li><a href="#html-slide" data-toggle="tab">HTML</a></li>
                        <li><a href="#wordpress-slide" data-toggle="tab">Wordpress</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="example-slide">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div id="carousel-example-captions" class="carousel carousel-images slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-captions" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-captions" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img src="~/Content/Themes/Openmind/img/w2.jpg" alt="First slide image">
                                                <div class="carousel-caption animated fadeInUpBig">
                                                    <h3>First slide label</h3>
                                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="~/Content/Themes/Openmind/img/w3.jpg" alt="Second slide image">
                                                <div class="carousel-caption animated fadeInUpBig">
                                                    <h3>Second slide label</h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="~/Content/Themes/Openmind/img/w10.jpg" alt="Third slide image">
                                                <div class="carousel-caption animated fadeInUpBig">
                                                    <h3>Third slide label</h3>
                                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="html-slide">
                            <pre class="brush: xml">
<div id="carousel-example-captions" class="carousel carousel-images slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                            <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-captions" data-slide-to="1"></li>
                            <li data-target="#carousel-example-captions" data-slide-to="2"></li>
    </ol>
                            <div class="carousel-inner">
                            <div class="item active">
                            <img src="~/Content/Themes/Openmind/img/w2.jpg" alt="First slide image">
                            <div class="carousel-caption animated fadeInUpBig">
                            <h3>First slide label</h3>
                            <p>...</p>
        </div>
        </div>
                            <div class="item">
                            <img src="~/Content/Themes/Openmind/img/w3.jpg" alt="Second slide image">
                            <div class="carousel-caption animated fadeInUpBig">
                            <h3>Second slide label</h3>
                            <p>...</p>
        </div>
        </div>
                            <div class="item">
                            <img src="~/Content/Themes/Openmind/img/w10.jpg" alt="Third slide image">
                            <div class="carousel-caption animated fadeInUpBig">
                            <h3>Third slide label</h3>
                            <p>...</p>
        </div>
        </div>
    </div>
                            <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
                            <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
                                    </pre>
                        </div>
                        <div class="tab-pane" id="wordpress-slide">
                            <h3>Coming soon</h3>
                            <p>Next Version!</p>
                        </div>
                    </div>
                </article>

            </section>
        </div> <!-- col -->
    </div>
</div> <!-- container -->

