
@{
    ViewBag.Title = "Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">Layout Page</h1>

        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li><a href="#">UI Elements</a></li>
            <li class="active">Layout Page</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h3>Three Fourth</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua in elit non Excepteur laborum in ut consequat laboris laborum non velit est fugiat cillum in quis reprehenderit excepteur laborum in ut consequat laboris laborum non velit est fugiat cillum in quis reprehenderit dolore eiusmod eiusmod eiusmod labore irure reprehenderit.</p>
        </div>
        <div class="col-sm-3">
            <h3>One Fourth</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>One Third</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua in elit non Excepteur laborum in ut consequat.</p>
        </div>
        <div class="col-sm-8">
            <h3>Two Third</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua in elit non Excepteur laborum in ut consequat laboris laborum non velit est fugiat cillum in quis reprehenderit sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>One Third</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua in elit non Excepteur laborum in ut consequat.</p>
        </div>
        <div class="col-sm-4">
            <h3>One Third</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua in elit non Excepteur laborum in ut consequat.</p>
        </div>
        <div class="col-sm-4">
            <h3>One Third</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua in elit non Excepteur laborum in ut consequat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>One Fourth</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore fugiat amet voluptate officia.</p>
        </div>
        <div class="col-sm-6">
            <h3>One Half</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua in elit non Excepteur laborum in ut consequat ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore.</p>
        </div>
        <div class="col-sm-3">
            <h3>One Fourth</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore fugiat amet voluptate officia.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>One Half</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua in elit non Excepteur laborum in ut consequat ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore.</p>
        </div>
        <div class="col-sm-6">
            <h3>One Half</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore eiusmod eiusmod eiusmod labore irure reprehenderit aliqua in elit non Excepteur laborum in ut consequat ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>One Fourth</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore fugiat amet voluptate officia.</p>
        </div>
        <div class="col-sm-3">
            <h3>One Fourth</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore fugiat amet voluptate officia.</p>
        </div>
        <div class="col-sm-3">
            <h3>One Fourth</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore fugiat amet voluptate officia.</p>
        </div>
        <div class="col-sm-3">
            <h3>One Fourth</h3>
            <p>Lorem ipsum Cupidatat ex ea sunt et esse fugiat amet voluptate officia aute Ut dolore fugiat amet voluptate officia.</p>
        </div>
    </div>
</div> <!-- container -->

