body {
}
#header-title h1
{
    text-transform:none;
    font-family:Verdana, sans-serif;
    word-spacing:normal;
}
.navbar-mind .navbar-brand
{
    text-transform:none;
    font-family:Verdana, sans-serif;
    word-spacing:normal;
}
.navbar-mind .navbar-brand
{
    font-size:1.6em;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img
{
    margin:auto;
}
.carousel-indicators li
{
    border: 1px solid #000;
}
.carousel-indicators .active
{
    background-color:#000;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next
{
    color:slategrey;
}
.carousel-indicators
{
    position:static;
    margin:auto;
}
.logo
{
    float:left;
    padding-top:15px;
}