
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Client Testimonials</h2>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">I highly recommend you give Ryan and Demers Solutions an opportunity</div>
        <div class="panel-body">
            This was the first time we have used Ryan and Demers Solutions, but it will definitely not be the last.
            He installed our home security system and was professional, knowledgable, and honest about the product and his services.
            He makes you feel comfortable having him in your home and is extremely organized and clean as he executes his tasks.
            <br /><br />
            It is refreshing to do business with someone who is proud and passionate about his work, and I look forward to having the chance to work with him in the future.
            I highly recommend you give Ryan and Demers Solutions an opportunity - you will not regret it.
            <br /><br />
            <strong>Clayton Mickey</strong>
            <br />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Happy to recommend his services</div>
        <div class="panel-body">
            I have known Ryan Demers, and retained him in various capacities, for a very long time.
            He is a reliable, hard-working and trustworthy person. He has dedicated himself to the alarm,
            automation and entertainment field, and I am happy to recommend his services.
            <br /><br />
            <strong>Bob Thomson, West Vancouver</strong>
            <br />
        </div>
    </div>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">If you are looking for quality, look no further.</div>
        <div class="panel-body">
            I have used Ryan, owner of Demers Solutions for years, for many different jobs.
            From big to small he always goes the extra bit to make it "perfect".<br />
            His work is always clean and professional, looks like it's it out of a magazine!
            <br /><br />
            I would recommend his work to anyone who is considering home security/automation.
        </div>
    </div>
    <br />    
    <div style="height:200px;">
        <br />
    </div>
    <br /><br />
</div>

