
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Services</h1>

<div class="container">
    <div class="col-md-6">
        <h3>Home Security</h3>
        <ul class="list-group">
            <li class="list-group-item">Surveillance systems</li>
            <li class="list-group-item">Media distribution</li>
            <li class="list-group-item">Remote Acess Control</li>
            <li class="list-group-item">Multi room audio</li>
        </ul> <!--list-group -->
    </div>
    <div class="col-md-6">
       <h2>Home Automation</h2>
        <ul class="list-group">
            <li class="list-group-item">Light Control</li>
            <li class="list-group-item">Media distribution</li>
            <li class="list-group-item">Remote Acess Control</li>
            <li class="list-group-item">Multi room audio</li>
        </ul> <!--list-group -->
    </div>
    <div class="col-md-6">
        <h3>Home Networking</h3>
        <ul class="list-group">
            <li class="list-group-item">Wired to a central location</li>
            <li class="list-group-item">Wired to a central location</li>
        </ul> <!--list-group -->
    </div>  
    <div class="col-md-6">
        <h2>Home Theatre</h2>
        <ul class="list-group">
            <li class="list-group-item">Light Control</li>
            <li class="list-group-item">Light Control</li>
        </ul> <!--list-group -->
    </div>
    <div class="col-md-6">
        <h2>Custom low voltage Wiring</h2>
        <ul class="list-group">
            <li class="list-group-item">Light Control</li>
            <li class="list-group-item">Light Control</li>
        </ul> <!--list-group -->
    </div>
</div>