
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Gallery</h2>
</div>

<section id="home-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-title text-center">Recents Works</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w1.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown" data-toggle="modal" data-target="#myModal0"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w2.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w3.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w4.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w5.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w6.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>