
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Gallery</h2>
</div>

<section id="home-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-title text-center">Recents Works</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w1.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div tabindex="-1" class="modal fade" id="myModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title" id="myModalLabel">Pretty spring</h4>
                        </div>
                        <div class="modal-body">
                            <img class="img-responsive" alt="Image" src="~/Content/Themes/Openmind/img/w1.jpg">                                                      
                            <div class="no-img">
                                <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Vestibulum ullamcorper mauris at ligula. Fusce fermentum. Nullam cursus lacinia erat. Praesent blandit laoreet nibh. Fusce convallis metus id felis luctus adipiscing. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Quisque id mi.</p>
                                <p>Ut tincidunt tincidunt erat. Etiam feugiat lorem non metus. Vestibulum dapibus nunc ac augue. Curabitur vestibulum aliquam leo. Praesent egestas neque eu enim. In hac habitasse platea dictumst. Fusce a quam. Etiam ut purus mattis mauris sodales aliquam. Curabitur nisi. Quisque malesuada placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus.</p>
                                <p>Sed augue ipsum, egestas…</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w2.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown" data-toggle="modal" data-target="#myModal2"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div tabindex="-1" class="modal fade" id="myModal2" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title" id="myModalLabel">Pretty spring</h4>
                        </div>
                        <div class="modal-body">
                            <img class="img-responsive" alt="Image" src="~/Content/Themes/Openmind/img/w1.jpg">
                            <div class="no-img">
                                <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Vestibulum ullamcorper mauris at ligula. Fusce fermentum. Nullam cursus lacinia erat. Praesent blandit laoreet nibh. Fusce convallis metus id felis luctus adipiscing. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Quisque id mi.</p>
                                <p>Ut tincidunt tincidunt erat. Etiam feugiat lorem non metus. Vestibulum dapibus nunc ac augue. Curabitur vestibulum aliquam leo. Praesent egestas neque eu enim. In hac habitasse platea dictumst. Fusce a quam. Etiam ut purus mattis mauris sodales aliquam. Curabitur nisi. Quisque malesuada placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus.</p>
                                <p>Sed augue ipsum, egestas…</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w3.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown" data-toggle="modal" data-target="#myModal3"><i class=" fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div tabindex="-1" class="modal fade" id="myModal3" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title" id="myModalLabel">Pretty spring</h4>
                        </div>
                        <div class="modal-body">
                            <img class="img-responsive" alt="Image" src="~/Content/Themes/Openmind/img/w1.jpg">
                            <div class="no-img">
                                <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Vestibulum ullamcorper mauris at ligula. Fusce fermentum. Nullam cursus lacinia erat. Praesent blandit laoreet nibh. Fusce convallis metus id felis luctus adipiscing. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Quisque id mi.</p>
                                <p>Ut tincidunt tincidunt erat. Etiam feugiat lorem non metus. Vestibulum dapibus nunc ac augue. Curabitur vestibulum aliquam leo. Praesent egestas neque eu enim. In hac habitasse platea dictumst. Fusce a quam. Etiam ut purus mattis mauris sodales aliquam. Curabitur nisi. Quisque malesuada placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus.</p>
                                <p>Sed augue ipsum, egestas…</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w4.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown" data-toggle="modal" data-target="#myModal4"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div tabindex="-1" class="modal fade" id="myModal4" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title" id="myModalLabel">Pretty spring</h4>
                        </div>
                        <div class="modal-body">
                            <img class="img-responsive" alt="Image" src="~/Content/Themes/Openmind/img/w1.jpg">
                            <div class="no-img">
                                <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Vestibulum ullamcorper mauris at ligula. Fusce fermentum. Nullam cursus lacinia erat. Praesent blandit laoreet nibh. Fusce convallis metus id felis luctus adipiscing. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Quisque id mi.</p>
                                <p>Ut tincidunt tincidunt erat. Etiam feugiat lorem non metus. Vestibulum dapibus nunc ac augue. Curabitur vestibulum aliquam leo. Praesent egestas neque eu enim. In hac habitasse platea dictumst. Fusce a quam. Etiam ut purus mattis mauris sodales aliquam. Curabitur nisi. Quisque malesuada placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus.</p>
                                <p>Sed augue ipsum, egestas…</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w5.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown" data-toggle="modal" data-target="#myModal5"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div tabindex="-1" class="modal fade" id="myModal5" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title" id="myModalLabel">Pretty spring</h4>
                        </div>
                        <div class="modal-body">
                            <img class="img-responsive" alt="Image" src="~/Content/Themes/Openmind/img/w1.jpg">
                            <div class="no-img">
                                <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Vestibulum ullamcorper mauris at ligula. Fusce fermentum. Nullam cursus lacinia erat. Praesent blandit laoreet nibh. Fusce convallis metus id felis luctus adipiscing. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Quisque id mi.</p>
                                <p>Ut tincidunt tincidunt erat. Etiam feugiat lorem non metus. Vestibulum dapibus nunc ac augue. Curabitur vestibulum aliquam leo. Praesent egestas neque eu enim. In hac habitasse platea dictumst. Fusce a quam. Etiam ut purus mattis mauris sodales aliquam. Curabitur nisi. Quisque malesuada placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus.</p>
                                <p>Sed augue ipsum, egestas…</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img-caption">
                    <img src="~/Content/Themes/Openmind/img/w6.jpg" class="img-responsive" alt="Image">
                    <div class="caption">
                        <div class="caption-content">
                            <a href="#" class="animated fadeInDown" data-toggle="modal" data-target="#myModal6"><i class="fa fa-search"></i>More info</a>
                            <h4>Title Work</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div tabindex="-1" class="modal fade" id="myModal6" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title" id="myModalLabel">Pretty spring</h4>
                        </div>
                        <div class="modal-body">
                            <img class="img-responsive" alt="Image" src="~/Content/Themes/Openmind/img/w1.jpg">
                            <div class="no-img">
                                <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Vestibulum ullamcorper mauris at ligula. Fusce fermentum. Nullam cursus lacinia erat. Praesent blandit laoreet nibh. Fusce convallis metus id felis luctus adipiscing. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Quisque id mi.</p>
                                <p>Ut tincidunt tincidunt erat. Etiam feugiat lorem non metus. Vestibulum dapibus nunc ac augue. Curabitur vestibulum aliquam leo. Praesent egestas neque eu enim. In hac habitasse platea dictumst. Fusce a quam. Etiam ut purus mattis mauris sodales aliquam. Curabitur nisi. Quisque malesuada placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus.</p>
                                <p>Sed augue ipsum, egestas…</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
        </div>
    </div>
</section>